---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [407]:
import pandas as pd
import numpy as np
import datetime
import re

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)

df

0           03/25/93 Total time of visit (in minutes):\n
1                         6/18/85 Primary Care Doctor:\n
2      sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:\n
4      2/6/96 sleep studyPain Treatment Pain Level (N...
5                      .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current su...
7      10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                           3/7/86 SOS-10 Total Score:\n
9               (4/10/71)Score-1Audit C Score Current:\n
10     (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                         4/09/75 SOS-10 Total Score:\n
12     8/01/98 Communication with referring physician...
13     1/26/72 Communication with referring physician...
14     5/24/1990 CPT Code: 90792: With medical servic...
15     1/25/2011 CPT Code: 90792: With medical servic...
16           4/12/82 Total time of visit (in minutes):\n
17          1; 10/13/1976 Audit C Score, Highest/Date:\n
18                   4, 4/24/98 Relevant Drug History:\n
19     ) 59 yo unemployed w referred by Urgent Care f...
20           7/21/98 Total time of visit (in minutes):\n
21                        10/21/79 SOS-10 Total Score:\n
22      3/03/90 CPT Code: 90792: With medical services\n
23      2/11/76 CPT Code: 90792: With medical services\n
24     07/25/1984 CPT Code: 90791: No medical services\n
25     4-13-82 Other Child Mental Health Outcomes Sca...
26      9/22/89 CPT Code: 90792: With medical services\n
27        9/02/76 CPT Code: 90791: No medical services\n
28                                9/12/71 [report_end]\n
29     10/24/86 Communication with referring physicia...
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 500, dtype: object

In [427]:
def date_sorter():
    re1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    re2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
    re3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    re4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    re5 = '(\d{1,2}[/-][1|2]\d{3})'
    re6 = '([1|2]\d{3})'
    
    regex_list = '{}|{}|{}|{}|{}|{}'.format(re1,re2,re3,re4,re5,re6)
    date_parse = df.str.findall(regex_list)
    
    date_parse_4=[i[0] for i in date_parse]
    date_ls = []
    for j in date_parse_4:
        for k in j:
            if len(k) > 0:
                date_ls.append(k)
    date_ls = pd.Series(date_ls)
    date_ls = [word.replace('Janaury', 'January') for word in date_ls]
    date_ls = [word.replace('Decemeber', 'December')for word in date_ls]
    date_parse_3 = pd.to_datetime(date_ls)
    date_parse_3 = pd.Series(date_parse_3)
    ans = date_parse_3.sort_values(ascending=True).index
    ans = pd.Series(ans.values)
    return ans

In [430]:
date_sorter()

(['03/25/93',
  '6/18/85',
  '7/8/71',
  '9/27/75',
  '2/6/96',
  '7/06/79',
  '5/18/78',
  '10/24/89',
  '3/7/86',
  '4/10/71',
  '5/11/85',
  '4/09/75',
  '8/01/98',
  '1/26/72',
  '5/24/1990',
  '1/25/2011',
  '4/12/82',
  '10/13/1976',
  '4/24/98',
  '5/21/77',
  '7/21/98',
  '10/21/79',
  '3/03/90',
  '2/11/76',
  '07/25/1984',
  '4-13-82',
  '9/22/89',
  '9/02/76',
  '9/12/71',
  '10/24/86',
  '03/31/1985',
  '7/20/72',
  '4/12/87',
  '06/20/91',
  '5/12/2012',
  '3/15/83',
  '2/14/73',
  '5/24/88',
  '7/27/1986',
  '1-14-81',
  '7-29-75',
  '6/24/87',
  '8/14/94',
  '4/13/2002',
  '8/16/82',
  '2/15/1998',
  '7/15/91',
  '06/12/94',
  '9/17/84',
  '2/28/75',
  '11/22/75',
  '5/24/91',
  '6/13/92',
  '7/11/71',
  '12/26/86',
  '10/11/1987',
  '3/14/95',
  '12/01/73',
  '12/5/2010',
  '08/20/1982',
  '7/24/95',
  '8/06/83',
  '02/22/92',
  '6/28/87',
  '07/29/1994',
  '08/11/78',
  '10/29/91',
  '7/6/91',
  '1/21/87',
  '11/3/1985',
  '7/04/82',
  '4-13-89',
  '7/11/77',
  '4/12/74',
  '09/19/81',
  '9/6/79',
  '12/5/87',
  '01/05/1999',
  '4/22/80',
  '10/04/98',
  '6/29/81',
  '8/04/78',
  '7/07/1974',
  '09/14/2000',
  '5/18/71',
  '8/09/1981',
  '6/05/93',
  '8/9/97',
  '12/8/82',
  '8/26/89',
  '10/13/95',
  '4/19/91',
  '04/08/2004',
  '9/20/76',
  '12/08/1990',
  '4/11/1974',
  '7/18/86',
  '3/31/91',
  '5/13/72',
  '11/14/83',
  '8/16/92',
  '10/05/97',
  '07/18/2002',
  '9/22/82',
  '2/24/74',
  '2/03/78',
  '2/11/2006',
  '8/22/83',
  '5/04/74',
  '7/20/2011',
  '6/17/95',
  '6/10/72',
  '10/16/82',
  '12/15/92',
  '12/8/97',
  '4/05/89',
  '12/04/87',
  '6/20/77',
  '4/27/2006',
  '07/17/92',
  '12/22/98',
  '10/02/96',
  '11/05/90',
  '5/04/77',
  '2/27/96',
  '24 Jan 2001',
  '10 Sep 2004',
  '26 May 1982',
  '28 June 2002',
  '06 May 1972',
  '25 Oct 1987',
  '14 Oct 1996',
  '30 Nov 2007',
  '28 June 1994',
  '14 Jan 1981',
  '10 Oct 1985',
  '11 February 1985',
  '10 Feb 1983',
  '05 Feb 1992',
  '21 Oct 2012',
  '14 Feb 1995',
  '30 May 2016',
  '22 Jan 1996',
  '14 Oct 1992',
  '06 Oct 2003',
  '18 Oct 1999',
  '11 Nov 2004',
  '30 May 2001',
  '02 Feb 1978',
  '09 Sep 1989',
  '12 March 1980',
  '22 June 1990',
  '28 Sep 2015',
  '13 Jan 1972',
  '06 Mar 1974',
  '10 Oct 1974',
  '26 May 1974',
  '10 Feb 1990',
  '23 Aug 2000',
  '26 May 2001',
  '21 Oct 2007',
  '19 Oct 2016',
  '05 Mar 1974',
  '29 Jan 1994',
  '21 Oct 1978',
  '18 August 1975',
  '11 Nov 1996',
  '01 Oct 1979',
  '13 Oct 1986',
  '21 Oct 1995',
  '24 Jan 2011',
  '04 Oct 1972',
  '23 Aug 1993',
  '18 Oct 2006',
  '04 Dec 1988',
  '21 Oct 1983',
  '26 May 2010',
  '18 Jan 1990',
  '15 Jun 1985',
  '10 Dec 1982',
  '09 Dec 1988',
  '18 August 1995',
  '13 June 1974',
  '26 May 2008',
  '11 Nov 2002',
  '17 Aug 1985',
  '13 Oct 2016',
  '14 Jan 2008',
  '12 March 2004',
  '21 Oct 1977',
  '10 Aug 2000',
  '30 Nov 1972',
  '06 May 1993',
  '18 Jan 1995',
  'April 11, 1990',
  'May 30, 2001',
  'Feb 18, 1994',
  'February 18, 1981',
  'October. 11, 2013',
  'Jan 24 1986',
  'July 26, 1978',
  'December 23, 1999',
  'May 15, 1989',
  'September 06, 1995',
  'Mar. 10, 1976',
  'Jan 27, 1983',
  'October 23 1990',
  'August 12 2004',
  'September 01, 2012',
  'July 25, 1983',
  'August 11, 1989',
  'April 17, 1992',
  'July 24, 1999',
  'July 11, 1997',
  'Sep. 10, 1974',
  'August 14, 1981',
  'Nov 11, 1988',
  'June 13, 2011',
  'May 14, 1989',
  'Dec 14 1975',
  'June 25, 2012',
  'Oct 18, 1980',
  'May 15, 1998',
  'October 14 1974',
  'July 25, 1998',
  'June 15, 1972',
  'January 07, 1991',
  'September. 15, 2011',
  'September 1985',
  'June 2011',
  'May 1986',
  'May 2016',
  'July 1977',
  'July, 1990',
  'Jul 2003',
  'Oct 2015',
  'May 1995',
  'February 1976',
  'January 1995',
  'Feb 1978',
  'May, 2011',
  'May 2004',
  'Nov 2010',
  'Sep 2012',
  'January, 2013',
  'November 1990',
  'July 1981',
  'May 1983',
  'July 1995',
  'April 1993',
  'May 2005',
  'December 1998',
  'Jan 2007',
  'Feb 2016',
  'August 1979',
  'Oct 2014',
  'Aug 1988',
  'Sep 2015',
  'Apr 1976',
  'Nov 1979',
  'February 2000',
  'Oct 1986',
  'Jun 2002',
  'September 1981',
  'June 2007',
  'April 1989',
  'September 1999',
  'Oct 1980',
  'Dec 2009',
  'July 1992',
  'May, 2006',
  'August 2008',
  'Feb 1993',
  'February, 2010',
  'April 1985',
  'September 1984',
  'April 1986',
  'Apr 2007',
  'September 1974',
  'Sep 2013',
  'July 1985',
  'Aug 2004',
  'May 2012',
  'Feb 1977',
  'Jan 1987',
  'Sep 1983',
  'January 2013',
  'Mar 2010',
  'August 2009',
  'Sep 2007',
  'December 2011',
  'Jan 2004',
  'November 1995',
  'September 2008',
  'February 1983',
  'March 1983',
  'Aug 1979',
  'Jan 2009',
  'January 1993',
  'March 1974',
  'January 1994',
  'Dec 1992',
  'November 2004',
  'January 1977',
  'Mar 2002',
  'Feb 2000',
  'May, 2004',
  'July 2006',
  'Feb 1994',
  'April 1977',
  'Oct 1992',
  'February, 1995',
  'February 1989',
  'December 1978',
  'January 2007',
  'Jun 1976',
  'May 2011',
  'Mar, 1975',
  'Jan 1978',
  'July 1975',
  'November 2012',
  'June, 1999',
  'October 1991',
  'March 1973',
  'October 1996',
  'Jun 2007',
  'October 1995',
  'April 1999',
  'May, 2001',
  'March, 2000',
  'April 1988',
  'December 1993',
  'June 1974',
  'November 1997',
  'July 1986',
  'February 1973',
  'March 1978',
  'Dec 2007',
  'Apr, 1998',
  'March, 2005',
  'May 1980',
  'Nov 2007',
  'March 1976',
  '6/1998',
  '6/2005',
  '10/1973',
  '9/2005',
  '03/1980',
  '12/2005',
  '5/1987',
  '5/2004',
  '8/1974',
  '3/1986',
  '10/1997',
  '3/1993',
  '3/1981',
  '9/2003',
  '10/1993',
  '1/1983',
  '7/1994',
  '12/2008',
  '10/1980',
  '8/2003',
  '12/1975',
  '11/2010',
  '7/1997',
  '7/2014',
  '9/2001',
  '8/1986',
  '1/1978',
  '9/1975',
  '1/2009',
  '5/1995',
  '8/1989',
  '11/2000',
  '06/1973',
  '2/1999',
  '6/2001',
  '12/1978',
  '8/2009',
  '7/1973',
  '1/2014',
  '09/1975',
  '12/2012',
  '5/1999',
  '7/1989',
  '7/2009',
  '11/1998',
  '3/1995',
  '2/2009',
  '08/1988',
  '4/2007',
  '5/2000',
  '4/2012',
  '10/2001',
  '2/1977',
  '8/2008',
  '2/1983',
  '5/1979',
  '1/1992',
  '11/2008',
  '12/2014',
  '4/1974',
  '10/1981',
  '10/1986',
  '03/1973',
  '12/1994',
  '8/1999',
  '10/2010',
  '10/1994',
  '01/2007',
  '8/2010',
  '03/1990',
  '11/2016',
  '4/2004',
  '2/1973',
  '7/1987',
  '8/2000',
  '8/1975',
  '5/1977',
  '3/2000',
  '9/1984',
  '4/1973',
  '12/1986',
  '4/1979',
  '7/2004',
  '11/1984',
  '5/2016',
  '12/2007',
  '11/1982',
  '06/1981',
  '4/2013',
  '4/1999',
  '5/2006',
  '10/1978',
  '12/1989',
  '2/1974',
  '11/1986',
  '4/1983',
  '10/2014',
  '6/1989',
  '9/1980',
  '9/1992',
  '9/2000',
  '7/1981',
  '1/2008',
  '4/2002',
  '7/1985',
  '5/2010',
  '8/2002',
  '1/1994',
  '12/2004',
  '3/2003',
  '7/1991',
  '7/1982',
  '1984',
  '2000',
  '2001',
  '1982',
  '1998',
  '2012',
  '1991',
  '1988',
  '2014',
  '2016',
  '1976',
  '1981',
  '2011',
  '1997',
  '2003',
  '1983',
  '1999',
  '2010',
  '1975',
  '1972',
  '2015',
  '1989',
  '1994',
  '1993',
  '1996',
  '2013',
  '1974',
  '1990',
  '1995',
  '2004',
  '1987',
  '1973',
  '1992',
  '1977',
  '1985',
  '2007',
  '2009',
  '1986',
  '1978',
  '2002',
  '1979',
  '2006',
  '2008',
  '2005',
  '1980'],
 0     1993-03-25
 1     1985-06-18
 2     1971-07-08
 3     1975-09-27
 4     1996-02-06
 5     1979-07-06
 6     1978-05-18
 7     1989-10-24
 8     1986-03-07
 9     1971-04-10
 10    1985-05-11
 11    1975-04-09
 12    1998-08-01
 13    1972-01-26
 14    1990-05-24
 15    2011-01-25
 16    1982-04-12
 17    1976-10-13
 18    1998-04-24
 19    1977-05-21
 20    1998-07-21
 21    1979-10-21
 22    1990-03-03
 23    1976-02-11
 24    1984-07-25
 25    1982-04-13
 26    1989-09-22
 27    1976-09-02
 28    1971-09-12
 29    1986-10-24
          ...
 470   1983-01-01
 471   1999-01-01
 472   2010-01-01
 473   1975-01-01
 474   1972-01-01
 475   2015-01-01
 476   1989-01-01
 477   1994-01-01
 478   1993-01-01
 479   1996-01-01
 480   2013-01-01
 481   1974-01-01
 482   1990-01-01
 483   1995-01-01
 484   2004-01-01
 485   1987-01-01
 486   1973-01-01
 487   1992-01-01
 488   1977-01-01
 489   1985-01-01
 490   2007-01-01
 491   2009-01-01
 492   1986-01-01
 493   1978-01-01
 494   2002-01-01
 495   1979-01-01
 496   2006-01-01
 497   2008-01-01
 498   2005-01-01
 499   1980-01-01
 Length: 500, dtype: datetime64[ns],
 0        9
 1       84
 2        2
 3       53
 4       28
 5      474
 6      153
 7       13
 8      129
 9       98
 10     111
 11     225
 12      31
 13     171
 14     191
 15     486
 16     335
 17     415
 18      36
 19     405
 20     323
 21     422
 22     375
 23     380
 24     345
 25      57
 26     481
 27     436
 28     104
 29     299
       ...
 470    220
 471    208
 472    243
 473    139
 474    320
 475    383
 476    244
 477    286
 478    480
 479    431
 480    279
 481    198
 482    381
 483    463
 484    366
 485    439
 486    255
 487    401
 488    475
 489    257
 490    152
 491    235
 492    464
 493    253
 494    427
 495    231
 496    141
 497    186
 498    161
 499    413
 Length: 500, dtype: int64)